#escribinos-1 {
    div div h1 {
        text-align: center;
    }
}

#contacto {
    background: linear-gradient(90deg, rgba(26, 27, 3, 0.247) 13%, rgba(36, 28, 3, 0.692) 36%, rgba(31, 32, 6, 0.651) 66%, rgba(39, 27, 2, 0.808) 86%) !important;
    border-radius: 20px;
    border: black   2px solid;
}

#hombre {
    font-size: 150%;
    color: white;
}

#mujer {
    font-size: 150%;
    color: white;
    margin-bottom: 20px;
}

#ingresenombre {
    @include font-p2;
    color: white;
}

#ingresemail {
    @include font-p2;
    color: white;

}